# 设置通用 npm 包镜像源
registry=https://registry.npmmirror.com

# 官方源
# registry=https://registry.npmjs.org

# 设置 electron 镜像源
electron_mirror=https://npmmirror.com/mirrors/electron/

# 设置 chromedriver 镜像源
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
