# Set npm registry to `npmmirror` when you code in some Internet-blocked area like China.
registry=https://registry.npmmirror.com
# when you need official npm, uncomment next line
# registry=https://registry.npmjs.org
electron_mirror=https://npmmirror.com/mirrors/electron/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
